.modal__close-item {
  position: relative;
  top: -5px;
  left: 480px;
  background-image: url("/src/images/close-button.svg");
  background-repeat: no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.modal__close-item:hover {
  cursor: pointer;
}

.modal__content-item {
  background-color: white;
  max-width: 496px;
  border-radius: 20px;
  padding: 20px 30px 30px 30px;
  font-weight: 700;
  line-height: 24px;
}

.modal__delete-button {
  position: relative;
  color: #ff4d00;
  border: none;
  size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__delete-button:hover {
  cursor: pointer;
}

.modal__item-card-content {
  display: flex;
  justify-content: space-between;
}

.modal__card-name {
  padding-top: 5px;
}

.modal__image {
  width: 496px;
  height: 510px;
}
