.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: white;
  max-width: 496px;
  max-height: 436px;
  width: 100%;
  border-radius: 20px;
  padding: 34px 36px;
}

.modal__close-button {
  background-image: url("../images/close-button.svg");
  background-repeat: no-repeat;
  border: none;
  height: 20px;
  width: 20px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000000;
  height: 24px;
  width: 440px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal__radio {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
